<div class="form-group">
	<label for="code">Select Company</label> <input
		class="form-control common-control select-type" uib-popover="Company "
		popover-trigger="'mouseenter'" name="company"
		ng-model="updateAsset.companyObject.pentaBaseLegalName"
		ng-disabled="true">
</div>

<div class="row">
	<div data-ng-repeat="currency in updateAsset.pentaBaseAssetCurrency">
		<div class="col-xs-12 langDescrip">
			<div class="form-group">
				<label for="code">Currency</label> <input
					class="form-control common-control select-type" name="currencyName"
					uib-popover="Currency" popover-trigger="'mouseenter'"
					name="selectCurr"
					id="{{currency.pentaBaseCurrency.pentaBaseCurCode}}"
					ng-model="currency.pentaBaseCurrency.pentaBaseCurName"
					ng-disabled="true" required>
			</div>
				<div class="form-group">
				<label for="code">Sell Price <sup class="danger-color">*</sup></label>
				<input type="number" ng-model="currency.pentaBaseAssetCurSellPrice"
					name="cell" uib-popover="Sell Price" popover-trigger="'mouseenter'"
					class="form-control common-control" placeholder="Sell Price"
					required>
			</div>
			<div class="form-group">
				<label for="code">Cost Price<sup class="danger-color">*</sup></label> <input type="number"
					ng-model="currency.pentaBaseAssetCurCostPrice"
					id="{{currency.pentaBaseAssetCurCostPrice}}" name="cost"
					uib-popover="Cost Price" popover-trigger="'mouseenter'"
					class="form-control common-control" placeholder="Cost Price"
					required="required">
			</div>
		

		</div>
	</div>
</div>

<!-- default currency div start -->
<!-- <div class="row" id="defaultCurrencyDiv">
	<div>
		<div class="col-xs-12 langDescrip">
			<div class="form-group">
				<label for="code">Default Currency</label> <input
					class="form-control common-control select-type" name="currencyName"
					type="text" uib-popover="Currency" popover-trigger="'mouseenter'"
					name="selectCurr" ng-model="defaultCurrencyNew.pentaBaseCurName"
					disabled="disabled" />
				<option ng-repeat="currency in defaultCurrencyList"
						ng-selected="currency.pentaBaseDefaultCur == true ? currency.pentaBaseCurName : 0"
						ng-value="currency.pentaBaseCurName">{{currency.pentaBaseCurName}}</option>
					</input>
			</div>

			<div class="form-group">
				<label for="code">Cost Price</label> <input type="number"
					ng-model="defaultCurrencyNew.pentaBaseAssetCurCostPrice"
					name="cost" uib-popover="Cost Price" popover-trigger="'mouseenter'"
					class="form-control common-control" placeholder="Cost Price"
					required="required">
			</div>
			<div class="form-group">
				<label for="code">Sell Price <sup class="danger-color">*</sup></label>
				<input type="number"
					ng-model="defaultCurrencyNew.pentaBaseAssetCurSellPrice"
					name="cell" uib-popover="Sell Price" popover-trigger="'mouseenter'"
					class="form-control common-control" placeholder="Sell Price"
					required>
			</div>
			<button class="remove commonAddRem removePosi " ng-show="$last"
				ng-disabled="lengthCount" ng-click="removeAddCurrency()">
				<span>Remove Currency</span><img src="img/remove.png" alt="remove" />
			</button>
			<button class="addfields commonAddRem pull-right"
				ng-disabled="updateForm.cost.$invalid ||updateForm.cell.$invalid || updateForm.selectCurr.$invalid || updateForm.selectCurr.$touched || endCount"
				ng-click="addNewAddCurrency()">
				<img src="img/add.png" alt="add" /><span>Add Currency</span>
			</button>
		</div>
	</div>
</div> -->
<!-- default currency div end -->

<div class="col-xs-12 nopadding">
	<div id="wizard-navigation-container">
		<button
			ng-disabled="currentUpdateAssetStep < 1 || updateForm.price.$invalid"
			class="login-btn pull-left nextBtn default-radius" name="previous"
			type="button"
			ng-click="gotoUpdateAssetStep(currentUpdateAssetStep - 1)">
			Previous</button>
		<button
			ng-disabled="updateForm.cost.$invalid ||updateForm.cell.$invalid || updateForm.selectCurr.$invalid || updateForm.selectCurr.$touched"
			class="login-btn pull-right nextBtn default-radius" name="next"
			type="button" ng-click="onSubmitUpdateAsset()">Submit</button>

	</div>
</div>
