<!DOCTYPE html>
<html lang="en" data-ng-app="tangelo">
	<body>
			

	<!-- Angular js start -->
	<script src="js/angular/angular.min.js"></script>
	<!--  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
	<script src="js/angular/angular-route.min.js"></script>
	<script src="js/angular/angular-resource.min.js"></script>
	<script src="js/angular/angular-animate.js"></script>
	<script src="js/angular/angular-cookies.js"></script>
	<script src="js/angular/angular-aria.js"></script>
	<script src="js/angular/angular-bootstrap-multiselect.min.js"></script>
	<script src="js/angular/taira.multiselect.min.js"></script>
	<script src="js/angular/multiselect.js"></script>
	<script src="js/angular/sweetalert.min.js"></script>
	<script src="js/angular/angular-touch.js"></script>
	<script src="js/angular/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script src="js/angular/datetime-picker.js"></script>
	<!-- ========== Angular js MVC start =========  -->

<script src="app.module.js"></script>
	<script src="app.controller.js"></script>
<script src="app/lifecycle/lifecycle.module.js"></script>
		
			<div class="main-page" ng-view></div>
    </body>

</html>
